<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>TEST</title>
</head>
<body>
	<h1>ejs 테스트! <%= name %></h1>
	<img src="images/a.png" alt="">
</body>
</html>